@mixin colorize-background($color) {
  background-color: $color;
}

$backdrop: #37515C;
$border-color: #000;
$outline-color: #EBF5EE;

html {
  // background-color: $backdrop;
  @include colorize-background($backdrop);
  // background-image: linear-gradient(to right top, #38515c, #496876, #5b8091, #6d99ac, #80b2c9);
  border: 2px solid $border-color;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

main {
  background-color: $backdrop;
  // background-image: linear-gradient(to right top, #38515c, #496876, #5b8091, #6d99ac, #80b2c9);
  height: 100%;
  width: 100%;
}

h1 {
  border-right: 2px solid $border-color;
  font-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
  font-family: 'Yellowtail', cursive;
}

.main-header {
  background-color: $outline-color;
  border: 2px solid $border-color;
  display: flex;
  height: 95px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-header > button {
  height: 40px;
  width: 65px;
  font-size: 65%;
}

.main-header > input {
  height: 30px;
  font-size: 65%;
}


.navButton {
  background-color: $outline-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  width: auto;
  font-size: 130%;
  margin: 1%;
}


.user-info {
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: 40%
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: auto;
}

.search-button {
  background-color: $outline-color;
  border: 1px solid $border-color;
  width: 20%;
  height: 58px;
  margin-top: 3px;
}

.search-image:hover,
.card-button:hover,
.navButton:hover,
.search-button:hover {
  background-color: #5dc3eb;
}


.search-image:active,
.card-button:active,
.navButton:active,
.search-button:active {
  background-color: #C3C2C6;
}

.search-input {
  border: 1px solid $border-color;
  font-size: 100%;
  height: 7vh;
  margin: 3px 7px 0px 0px;
  padding-left: 10px;
  width: 90%;
}


.card-button {
  border: 1px solid $border-color;
  height: 27px;
  margin: 3px;
  width: 27px;
}



.add-button {
  background-color: $outline-color;
  // background-color: $outline-color;
  background-image: url(https://image.flaticon.com/icons/svg/32/32339.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  // width: 13%;
}

// .add {
//   background-color: $outline-color;
//   background-image: url(https://image.flaticon.com/icons/svg/32/32339.svg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 100%;
//   width: 13%;
// }

// <img id='${recipe.id} favorite' class='add'
// src='https://image.flaticon.com/icons/svg/32/32339.svg' alt='Add to
// recipes to cook'>

.hidden {
  display: none;
}


.favorite {
  background-color: $outline-color;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  // width: 13%;
}

.all-cards {
  display: grid;
  grid-gap: 30px;
  // grid-template-rows: wrap;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

img {
  cursor: pointer;
}

.card {
  background-color: $outline-color;
  border: 3px solid $border-color;
  width: 300px;
  box-shadow: 5px 10px 18px #647A85;
}


.card-header {
  // background-color: $outline-color;
  background-color: #8C798B;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $outline-color;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: $outline-color;
  font-size: 250%;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 90%;
}

.card-picture:active {
  border: 2px solid $border-color;
}

.card-picture {
  border: 1px solid $border-color;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
}


.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

@media (min-width: 790px) {


}