$backdrop: #37515C;
$border-color: #000;
$outline-color: #F1F1E6;
$box-shadow: 5px 10px 18px #647A85;
$background-image: linear-gradient(to right, #38515c, #405864, #48606b, #516773, #596f7b, #59727e, #597682, #597985, #507884, #457782, #3a7680, #2e757d);

html {
  border: 2px solid $border-color;
  height: 100vh;
  background-image: $background-image;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  background-image: $background-image;
}

main {
  // background-color: $backdrop;
  background-image: $background-image;
  height: 100%;
  width: 100%;
}

h1 {
  border-right: 2px solid $border-color;
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
  font-family: 'Yellowtail', cursive;
  box-shadow: $box-shadow;
}

.main-header {
  background-color: $outline-color;
  border: 2px solid $border-color;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  background-color: $outline-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  font-size: 130%;
  margin: 1%;
  box-shadow: $box-shadow;
}


.user-info {
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: 40%
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: 30%;
}

.search-button {
  background-color: $outline-color;
  border: 1px solid $border-color;
  width: 20%;
  height: 58px;
  margin-top: 3px;
  box-shadow: $box-shadow;
}

.search-image:hover,
.card-button:hover,
.navButton:hover,
.search-button:hover {
  background-color: #5dc3eb;
  box-shadow: $box-shadow;
}


.search-image:active,
.card-button:active,
.navButton:active,
.search-button:active {
  background-color: #C3C2C6;
  box-shadow: $box-shadow;
}

.search-input {
  border: 1px solid $border-color;
  font-size: 100%;
  height: 7vh;
  margin: 3px 7px 0px 0px;
  padding-left: 10px;
  width: 90%;
  box-shadow: $box-shadow;
}


.card-button {
  border: 1px solid $border-color;
  height: 27px;
  margin: 3px;
  width: 27px;
  box-shadow: $box-shadow;
}



.add-button {
  background-color: $outline-color;
  background-color: $outline-color;
  background-image: url(https://image.flaticon.com/icons/svg/32/32339.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: $box-shadow;
  // width: 13%;
}

// .add {
//   background-color: $outline-color;
//   background-image: url(https://image.flaticon.com/icons/svg/32/32339.svg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 100%;
//   width: 13%;
// }

// <img id='${recipe.id} favorite' class='add'
// src='https://image.flaticon.com/icons/svg/32/32339.svg' alt='Add to
// recipes to cook'>

.hidden {
  display: none;
}


.favorite {
  background-color: $outline-color;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  // width: 13%;
}

.all-cards {
  display: grid;
  grid-gap: 30px;
  // grid-template-rows: wrap;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

img {
  cursor: pointer;
}

.card {
  background-color: $outline-color;
  border: 3px solid $border-color;
  width: 300px;
  box-shadow: $box-shadow;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}


.card-header {
  // background-color: $outline-color;
  background-color: #2F757D;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $outline-color;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: $outline-color;
  font-size: 250%;
}

.recipe-name {

  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 90%;
}

.card-picture:active {
  border: 2px solid $border-color;
}

.card-picture {
  border: 1px solid $border-color;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
  border-radius: 2%;
  box-shadow: $box-shadow;
}


.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

